.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
  top: 400px;
  left: 10px;
  position: absolute;
}

.baloon {
  top: 150px;
  left: 400px;
  position: absolute;
  z-index: 1;
}

.speach {
  position: absolute;
  top: 200px;
  left: 420px;
  font-size: 20px;
  z-index: 2;
}

.bowser {
  width: 200px;
  top: 350px;
  left: 630px;
  position: absolute;
}
