div:hover {
  border: 1px black solid;
}

div:nth-of-type(1) {
  background-color: aqua;
}
div:nth-of-type(2) {
  background-color: yellowgreen;
}
div:nth-of-type(3) {
  background-color: red;
  height: 100px;
}
div:nth-of-type(4) {
  background-color: brown;
}
div:nth-of-type(5) {
  background-color: blueviolet;
}

div:nth-child(odd) h3 {
  font-family: fantasy;
}
