ol {
  background-color: yellow;
}
ol li:nth-child(odd) {
  text-transform: uppercase;
}

ol li:nth-child(even) {
  color: green;
}

.red {
  color: red;
}

.transformes {
  border: 1px black solid;
}

.tamanho {
  font-weight: 20px;
}
ol li {
  font-size: 20px;
}

ul li {
  font-size: 20px;
  font-weight: bold;
}

.azul {
  color: blue;
}

.rosa {
  background-color: pink;
}

.stack:hover {
  color: orange;
  font-weight: bold;
}
.w3:hover {
  color: green;
  font-weight: bold;
}
.MDN:hover {
  color: black;
  font-weight: bold;
}
.Dev:hover {
  color: yellow;
  font-weight: bold;
}
.trybe:hover {
  color: green;
  font-weight: bold;
}
