h1 {
  text-align: center;
}
.first {
  background-color: rgb(235, 200, 84);
  font-size: 15px;
  height: 50px;
  text-align: center;
  width: 200px;
  margin-left: 690px;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
  margin-left: 500px;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline-block;
}

.h3 {
  margin-left: 690px;
}

.li {
  display: inline;
}

.li2 {
  margin-left: 400px;
}
.li3 {
  margin-left: 430px;
}
