.lista li {
  display: inline-block;
  margin-left: 100px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lileft {
  margin-left: 450px;
}

.nav {
  background-color: aquamarine;
}
