body {
  font-size: 16px;
}

h1 {
  font-family: sans-serif;
  color: orange;
  text-align: center;
  text-decoration: line-through;
}
#parag {
  font-size: 3em;
  font-weight: 60;
  font-style: italic;
}

#lista {
  line-height: 40px;
}

#item1 {
  background-color: yellow;
}

#item2 {
  background-color: red;
}

#item3 {
  background-color: maroon;
}
